$background_section1 : linear-gradient(180deg, rgba(211,204,227,1) 0%, rgba(233,228,240,1) 100%);
$background_section2 : linear-gradient(180deg, rgba(233,228,240,1) 0%, rgba(211,204,227,1) 100%);

$main_color : #1D3354;
$background_button : #E6B7C3;

$card_color_main: rgba(29, 51, 84, .1);
$card_color_header: rgba(29, 51, 84, .2);